.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  position: fixed;
  left: 10px;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  text-align: right; /* 👈 aligns content to the right */
}

.topnav a {
  display: inline-block; /* 👈 ensure links line up properly */
  color: #f2f2f2;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
