.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  position: fixed;
  left: 10px;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  text-align: right;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

