<app-filters-component *ngIf="mode !== 'my-listings'" (search)="onCarSearch($event)"></app-filters-component>

<div *ngIf="mode === 'my-listings'" class="my-listings-container">

  <h2 style="color: black">Моите обяви за автомобили</h2>
  <div class="car-list">
    @for (car of cars$ | async; track car.id) {
      <app-car-card-component [car]="car" (cardClick)="onCardClick($event)"></app-car-card-component>
    }
  </div>

  <h2 style="color: black">Моите обяви за части</h2>
  <div class="car-parts-list">
    @for (part of userParts$ | async; track part.id) {
      <app-car-parts-card-component
        [part]="part"
        [isFavorite]="false"
        (favoriteClick)="onPartFavoriteClick($event)"
      ></app-car-parts-card-component>
    }
  </div>
</div>

<div *ngIf="mode !== 'my-listings'" class="car-list">
  @for (car of filteredCars$ | async; track car.id) {
    <app-car-card-component [car]="car" (cardClick)="onCardClick($event)"></app-car-card-component>
  }
</div>

<app-listing-detail-modal
  [listing]="selectedListing"
  [isOpen]="isModalOpen"
  [showDelete]="mode === 'my-listings'"
  (close)="closeModal()"
  (deleteClick)="deleteListing($event)">
</app-listing-detail-modal>
