body {
  position: absolute;
  top: 40px;
  margin-left: 10px;
}

.component {
  margin-top: 50px;
  margin-left: 40px;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
